.footerSection {
    background-color: var(--color-dark);
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    /*border: 1px solid red;*/
}

.sectionWrap {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
            "logo nav"
            "copyright apps"
            "documents apps";
    grid-gap: 0 16px;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.logo {
    margin-bottom: 40px;
}

.text {
    display: block;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #a0a0b0;
    grid-area: copyright;
}

.termsAndPolicy {
    grid-area: documents;
    display: flex;
    gap: 8px;
}

.termsAndPolicy > a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #a0a0b0;
}

.checklist {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    grid-area: nav;
    margin-bottom: 40px;
}

.checklist a {
    color: var(--color-secondary);
    font: 500 14px var(--font-family);
    transition: color .2s ease-in-out;
}

.checklist a:focus-visible {
    outline: 2px solid var(--color-yellow);
    outline-offset: 2px;
}

.checklist a:hover,
.checklist a:focus-visible {
    color: var(--color-yellow);
}

.linkshop {
    display: flex;
    justify-content: center;
    gap: 16px;
    grid-area: apps;
}