.sectionWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 24px;
}

.titleWrap {
    grid-row: span 2; /* занимает две строки */
    grid-column: 1;   /* первая колонка */

    border-radius: 12px;
    padding: 24px 28px;
    max-width: 484px;
    width: 100%;
    background-color: #f9f9f9;
    background-image: url(@/assets/img/Icon-20.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}