.sectionHome {
    /*width: calc(100vw / 0.7);   !* чтобы после scale(0.7) было 100vw *!*/
    /*height: calc(100vh / 0.7);  !* если нужна полная высота *!*/
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    gap: 40px;
}


.sectionWrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.leftColumn {
    max-width: 550px;
}

.mainHeadline {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    color: var(--color-secondary);
    margin-bottom: 34px;
}

.name {
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #3e3e4b;
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-family);
    color: var(--color-secondary);
}

.textDescription {
    display: inline;
    margin: 0 0 50px 0;
    font-size: 20px;
    line-height: 32px;
}

.linkshop {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}
