.sectionHome {
    height: 100vh;
    justify-content: space-between;
    display: flex;
    gap: 40px;
}

.leftColumn {
    max-width: 560px;
}

.mainHeadline {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    color: var(--color-secondary);
    margin-bottom: 34px;
}

.name {
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #3e3e4b;
}

.textDescription {
    display: inline;
    /*max-width: 450px;*/
    margin: 0 0 50px 0;
}

.video {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16/9;
}
