.usersSection{
    flex-direction: column;
}

.sectionWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usersTitle{
    color: var(--color-secondary);
}

.usersCardsWrap{
    display: flex;
    gap: 24px;
}