.usersSection{
    flex-direction: column;
}

.sectionWrap {
    display: flex;
    flex-direction: column;
}

.usersTitle{
    color: var(--color-secondary);
}

.usersCardsWrap{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}