.sectionWrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.aiProductInfo {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    background-color: var(--color-dark);
    border-radius: 12px;
    max-width: 486px;
    width: 100%;
}

.aiProductTitle {
    color: var(--color-secondary);
}

.aiProductFeatures {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 40px 0;
}

.aiProductCTAImgWrapper {

    display: flex;
    align-items: stretch;

    position: relative;
    overflow: hidden;

    padding: 0 36px;
    background-color: var(--color-yellow);
    border-radius: 12px;
    width: 100%;
}

.aiProductCTAImgWrapper .aiProductCTAImg {
    position: absolute;
    max-width: 174px;
    width: 100%;
}

.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(1) {
    top: 24%;
    left: 14px;
}

.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(2) {
    bottom: 22%;
    left: 188px;
}

.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(3) {
    top: 24%;
    left: 362px;
}