.sectionWrap {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.aiProductInfo {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    background-color: var(--color-dark);
    border-radius: 12px;
    max-width: 486px;
    width: 100%;
}

.aiProductTitle {
    color: var(--color-secondary);
}

.aiProductFeatures {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 40px 0;
}

.aiProductCTAImgWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: clamp(16px, 1vw, 60px); /* адаптивные равные промежутки */
    padding-left: clamp(14px, 5vw, 20px);
    padding-right: clamp(14px, 5vw, 20px);
    background-color: var(--color-yellow);
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
}

.aiProductCTAImgWrapper .aiProductCTAImg {
    max-width: 192px;
    width: 100%;
    position: relative;
    object-fit: contain;
    transition: transform .25s ease;
}

/* Лёгкие варьирования для глубины/смещения */
.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(1) {
    transform: translateY(8%) scale(0.95);
}

.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(2) {
    z-index: 2;
    transform: translateY(-14%) scale(1.05);
}

.aiProductCTAImgWrapper .aiProductCTAImg:nth-child(3) {
    transform: translateY(8%) scale(0.95);
}