.fixedWrapper {
    width: 100%;
    background-color: var(--color-primary);
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 0;
}

.lists {
    justify-self: center; /* центрирует внутри средней колонки */
    display: flex;
    gap: clamp(16px, 4vw, 52px);
    border-radius: 12px;
    padding: 16px 40px;
    background-color: var(--color-dark);
}

.placeholder {
    /* можно оставить пустым, или задать ширину в случае, если логотип имеет заметную ширину и нужна визуальная балансировка */
}


.lists a {
    color: var(--color-secondary);
    font: 500 14px var(--font-family);
    transition: color .2s ease-in-out;
}

.lists a:hover,
.lists a:focus-visible {
    color: var(--color-yellow);
}

.lists a:focus-visible {
    outline: 2px solid var(--color-yellow);
    outline-offset: 2px;
}
