.featureCardWrap {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    /*max-width: 400px;*/
    /*width: 100%;*/
}

.textDescriptionWrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    /*width: 100%;*/
}

.textDescription {
    color: var(--color-primary);
}

.link {
    color: var(--color-dark);
    font-family: var(--font-family);
    font-weight: 600;
    display: flex;
    gap: 8px;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color: var(--color-dark);
}