.sectionProduct {
    background-color: var(--color-secondary);
}


.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    border: 1px solid red;
}

.cardWrap {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 40px;
}