.list {
    display: flex;
    gap: 52px;
    background: #0e0e1e;
    border-radius: 12px;
    padding: 16px 40px;
}

.list > li > a {
    font-family: var(--font-family);
    font-size: var(--fs-base);
    letter-spacing: 0.02em;
    color: #fff;

}

.list > li > a:hover {
    color: var(--color-yellow);
}