.aboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-secondary);
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    /*border: 1px solid red;*/
}

.aboutUsCardWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    margin-top: 40px;
}

.aboutUsCard {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 24px 28px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content {
    position: relative;    /* чтобы текст был над картинкой */
    z-index: 2;
}

.number {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-primary);

    border-radius: 4px;
    padding: 4px 8px;
    width: 31px;
    height: 28px;
    background-color: var(--color-yellow);
    z-index: 2;
}

.title {
    z-index: 2;
    margin-top: 20px;
}

.descriptionWrapper{
    max-width: 360px;
    width: 100%;
}

.description {
    color: var(--color-primary);
    margin-top: 12px;
    z-index: 2;
}

.icon18 {
    width: 527px;
    height: 264px;

    position: absolute;
    left: 330px;

}

.icon19 {
    width: 396px;
    height: 264px;

    position: absolute;
    left: 330px;
}
