:root {
    /* цвета */
    --color-yellow: #fde400;
    --color-dark: #0e0e1e;
    --color-primary: #282838;
    --color-secondary: #fff;
    /* шрифты */
    --font-family: "Manrope", sans-serif;
    --second-family: "Space Grotesk", sans-serif;
    /* типографика */
    --fs-h2: 48px;
    --fs-base: 14px;
}


section {
    display: flex;
    align-items: center;
}

a,
button {
    cursor: pointer;
}

.textSecondary {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}

h2 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: var(--fs-h2);
    text-align: center;
    color: var(--color-primary);
}

h3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: var(--color-primary);
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: var(--fs-base);
    letter-spacing: 0.02em;
    color: var(--color-primary);
}