:root {
    /* цвета */
    --color-yellow: #fde400;
    --color-orange: #FDC503;
    --color-dark: #0e0e1e;
    --color-primary: #282838;
    --color-secondary: #fff;
    /* шрифты */
    --font-family: "Manrope", sans-serif;
    --second-family: "Space Grotesk", sans-serif;
    /* типографика */
    --fs-h2: 48px;
    --fs-base: 14px;

    --header-z: 1000;
}


section {
    display: flex;
    align-items: center;
    padding: 60px 0;
}

a,
button {
    cursor: pointer;
    text-decoration: none;
}

.textSecondary {
    font-family: var(--font-family);
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 22px;
    color: #fff;
}

h2 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: var(--fs-h2);
    text-align: center;
    color: var(--color-primary);
}

h3 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: var(--color-primary);
}

a {
    text-decoration: none;
}

/*a:visited {*/
/*    color: var(--color-secondary); !* цвет после посещения такой же *!*/
/*}*/

p {
    font-family: var(--font-family);
    /*font-weight: 500;*/
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-secondary);
}